<h2>Posts</h2>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
    </tr>
  </thead>
  <tbody>
    {{#each post in model}}
      <tr>
        <td>
          {{#link-to "posts.edit" post}}
            {{post.title}}
          {{/link-to}}
        </td>
        <td>
          {{#link-to "users.edit" post.user}}
            {{post.user.name}}
          {{/link-to}}
        </td>
      </tr>
    {{/each}}
</table>

{{#link-to "posts.new" class="button"}}
  <span class="ion-plus"></span>
  Add Post
{{/link-to}}

