<!DOCTYPE html>
<html>
<head>
  <title>Ember Blog</title>
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6121452/635006/css/fonts.css" />
  <%= stylesheet_link_tag    "boutique/vendor", :media => "all" %>
  <%= stylesheet_link_tag    "boutique/application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= javascript_include_tag "boutique/application" %>
</body>
</html>
