body {
  background: #f1f1f1;
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  padding: 2em;
}

h1, h2 {
  font-weight: 300;
}



.site-title {
  margin-bottom: 0;
  font-size: 1.8em;
}

a {

  color: #69f;
  text-decoration: none;

  &.active {
    font-weight: 600;
  }
}

.container {
  max-width: 1200px;
  margin: 0.5em auto;
  background: #fff;

  .content {
    padding: 0 2em 2em;
  }
}

nav > ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  background: #262626;

  .nav-item {
    display: inline-block;

    a {
      display: inline-block;
      padding: 1em 0 1em 2em;
      color: #fff;
      font-size: 0.9em;
    }
  }
}